body{
    margin: 0px;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(177 27 35 / 28%);;
    height: 100vh;
}

.results {
    --display-color: rgb(128, 126, 126);
    display: flex;
    height: auto;
    width: 300px;
    border: 9px;
    border-style: solid;
    border-radius: 23px;
    margin: 16px;
    padding: 20px;
    background-color: var(--display-color);
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    /* overflow-x: clip; */
    word-wrap: break-word;
    word-break: break-all;
    font-size: 35px;
}

.lowerDisplay {
    display: flex;
    flex-wrap: wrap;
    --display-color: rgb(128, 126, 126);
    background-color: ;
    min-height: 30px;
    width: 274px;
    size: 20px;
    /* font-size: large; */
    justify-content: flex-end;
}

.upperDisplay {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    --display-color: rgb(128, 126, 126);
    background-color: ;
    width: 274px;
    /* font-size: large; */

}

.container {
    background-color: #b91616;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    width: 350px;
    flex-wrap: wrap;
    margin: auto;
    border: 2px;
    border-style: inset;
    border-radius: 23px;
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    font-size: 2rem
}

.but {
    background-color: #ff170029;
    margin: 3px;
    height: 70px;
    width: 74px;
    border-radius: 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: 34px;
}

.deleteClear {
    width: 154px;
    color: #eb3636;
    font-size: 24px;
    background-color: black;
    font-weight: 900;
}
.footer{
    padding: 8px;
}